
{% extends 'flatpages/default.html' %}

{% block title %}
Post
{% endblock title %}


{% block content %}
    <h1>{{news}}</h1>
    {% if news %}
       <table>
           <tr>
               <td>
                   Заголовок
               </td>
               <td>
                   Текст
               </td>
               <td>
                   Дата публикации
               </td>
               <td>
                   Автор
               </td>
                <td>
                   Категория
               </td>
           </tr>
               <tr>
                   <td>
                       {{news.title}}
                   </td>
                   <td>
                       {{news.text}}
                   </td>
                   <td>
                       {{news.created}}
                   </td>
                   <td>
                       {{news.author}}
                   </td>
                    <td>
                       {{news.category}}
                   </td>
               </tr>
       </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
    <div>Категории:
        {% for subscribers in post.category.all %}
            {{ category.name }}

            {% if is_auth %}
            <form action="/subscribed/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="cat_id" value="{{ category.id }}">
                {% if current_user not in category.subscribers.all %}
                <input type="submit" name="subscribed" value="Подписаться">
                {% else %}
                <input type="submit" name="unsubscribed" value="Отписаться">
                {% endif %}
            </form>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}