
{% extends 'flatpages/default.html' %}
{% load cache %}


{% block title %}
Post
{% endblock title %}

{% cache 30 detail %}
{% block content %}
    <h1>{{news}}</h1>
    {% if news %}
       <table>
           <tr>
               <td>
                   Заголовок
               </td>
               <td>
                   Текст
               </td>
               <td>
                   Дата публикации
               </td>
               <td>
                   Автор
               </td>
                <td>
                   Категория
               </td>
           </tr>
               <tr>
                   <td>
                       {{news.title}}
                   </td>
                   <td>
                       {{news.text}}
                   </td>
                   <td>
                       {{news.created}}
                   </td>
                   <td>
                       {{news.author}}
                   </td>
                    <td>
                      {{news.category}}
                   </td>
               </tr>
       </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
    <div>
    {% if need_subscribed %}
        <button><a href="{% url 'subscribe' news.id %}">Подписаться</a></button>
    {% endif %}

    </div>
{% endblock content %}
{% endcache %}