
{% extends 'flatpages/default.html' %}

{% block title %}
Post
{% endblock title %}


{% block content %}
    <h1>{{new}}</h1>
    {% if new %}
       <table>
           <tr>
               <td>
                   Заголовок
               </td>
               <td>
                   Текст
               </td>
               <td>
                   Дата публикации
               </td>
               <td>
                   Автор
               </td>
           </tr>
               <tr>
                   <td>
                       {{new.title}}
                   </td>
                   <td>
                       {{new.text}}
                   </td>
                   <td>
                       {{new.created|date:'D-M-Y h:i'}}
                   </td>
                   <td>
                       {{new.author}}
                   </td>
               </tr>
       </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

{% endblock content %}