
{% extends 'flatpages/default.html' %}

{% block title %}
Post
{% endblock title %}


{% block content %}
    <h1>{{news}}</h1>
    {% if news %}
       <table>
           <tr>
               <td>
                   Заголовок
               </td>
               <td>
                   Текст
               </td>
               <td>
                   Дата публикации
               </td>
               <td>
                   Автор
               </td>
                <td>
                   Категория
               </td>
           </tr>
               <tr>
                   <td>
                       {{news.title}}
                   </td>
                   <td>
                       {{news.text}}
                   </td>
                   <td>
                       {{news.created}}
                   </td>
                   <td>
                       {{news.author}}
                   </td>
                    <td>
                      {{news.category}}
                   </td>
               </tr>
       </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
    <div>
        Категории:
        {% for subscribers in post.category.all %}
            {{ category.name }}
        <table>
           <a href="{% url 'subscribed' post.id %}"><u>Подписаться</u></a>
        </table>
        {% endfor %}
    </div>
{% endblock content %}